.index {
  background-color: #FFE5D9;
}
.about {
  background-color: #D8E2DC;
}
.workout {
  background-color: #D7D9CE;
}
map {
  display: inline;
}
.aligncenter {
  display: block;
  margin-left:auto;
  margin-right:auto;
}
