body {
  font-family: 'Montserrat', sans-serif;
}
.aligncenter {
  display: block;
  margin-left:auto;
  margin-right:auto;
}
.alert {
  padding: 15px;
  background-color: #f44336;
  color: #eeeeee;
  margin-bottom: 10px;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
.upperWord {
  color: #880044;
  font-weight: bolder;
}
.coreWord {
  color: #666600;
  font-weight: bolder;
}
.lowerWord{
  color: #14213D;
  font-weight: bolder;
}
.button {
  background-color: pink;
  border: 1px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.upperborder {
  border: 5px solid #AF2020;
}
.coreborder {
  border: 5px solid #A3A119;
}
.lowerborder {
  border: 5px solid #191DA3;
}
table {
  width: 100%;
  border: 2px solid black;
  border-collapse: collapse;
  text-align: left;
}
th, td {
  border: 1px solid black;
}
.workoutTable {
  display: none
}
