.aligncenter {
  display: block;
  margin-left:auto;
  margin-right:auto;
}
.alert {
  padding: 15px;
  background-color: #f44336;
  color: #eeeeee;
  margin-bottom: 10px;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
